body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
    box-sizing: border-box;
    
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_icon{
    border-right: 1px solid black;
}

.Active, .All, .Completed{
    border: none;
    outline: none;
    background:none;
    padding: 3px;
    margin: 0 5px;
    /* overflow: hidden; */
    border-radius: 5px;
}

.Active:hover{
    border: 0.6px solid rgba(0, 0, 0, 0.432);
}

.test{
    border: 1px solid grey;
}